body {
    background-color: white;
    margin: 30px;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 30px double black;
}

html {
    background: darkslategrey;
}

h1 {
    margin: 0;
}

.blog {
    border-bottom: 5px double lightgrey;
}