/*This is a type selector*/
body {
    background-color: white;
    margin: 30px;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background: darkslategrey;
}

/*This is a type selector*/
p {
    width: 900px;
    margin: 15px;
}

/*This is a type selector*/
h1 {
    border-top: 10px solid black;
    margin: 0;
    border-bottom: 10px solid black;
}

/*This is a type selector*/
h3 {
    margin: 0;
}

/*This is a id selector*/
h2 {
    border-bottom: 5px dotted black;
}

/*This is a class selector*/
.blog {
    border-bottom: 5px double lightgrey;
}

/*This is a attribute selector*/
a[target] {
    background-color: lightgrey;
}

/*This is a type selector*/
label {
    font-weight: bold;
    display: block;
}

/*This is a id selector*/
#button {
    background-color: black;
    color: white;
}

/*This is a id selector*/
#button2 {
    background-color: black;
    color: white;
}

.sticky {
    background: yellow;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.Heart {
    
}